.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, $cardWidth);
  justify-content: center;
  grid-gap: 50px $catalogCardGap;
  padding: 0 40px 50px;
  // max-width: 1024px;
  max-width: 3 * $catalogCardGap + 4 * $cardWidth + 2 * $catalogSidePaddings;
}

.main__catalog {
  margin: 0 auto;
}
